label#image {
    margin-top: 20px;
    margin-bottom: 20px;
    background-size: cover;
    height: 160px;

    display: flex;
    justify-content: center;
    align-items: center;
}

label#thumbnail.has-thumbnail img{
    display: none;
}

.content  h1{
    color: #9E9595
}

.content h5{
    margin-left: 180px;
    padding: 5px;
    color: #E81919
}