label#image {
    margin-top: 20px;
    margin-bottom: 20px;
    background-size: cover;
    height: 160px;

    display: flex;
    justify-content: center;
    align-items: center;
}

label#thumbnail.has-thumbnail img{
    display: none;
}